# Environment files
.env
.env.*

# Dependency directories
node_modules/

# Build output
dist/
dist-ssr/

# Local config
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
